<html>
    <head>
        <title>SSEA - Password Validator</title>
    </head>
    <body class="main">
        <div>
        <div class="header">
            <h1>Password Validation Checker</h1>
            <p>Amy Huang, Shakia Khan, Sara Miskus, Emily Robinson</p>
        </div>
        <div class="card show">
            <%= render 'form', dictionary: @dictionary %>
            <p id="notice"><%= notice %></p>
            <p>
              <strong>The password you entered was: </strong> <%=strength_comp(@dictionary.words)%>
            </p>   
            <progress id="password-strength" value="8" max="10"></progress>         
        </div>
        <div class="info">
          <p>
             <%=updatelen(@dictionary.words)%>
            </p>
            <p>
              <%=updateL(@dictionary.words)%>
            </p>
            <p>
              <%=updateU(@dictionary.words)%>
            </p>
            <p>
              <%=updateN(@dictionary.words)%>
            </p>
            <p>
              <%=updateS(@dictionary.words)%>
            </p>
        </div>
        <HR>
        <p class="info">This application will check the strength of an employee's password. All passwords must adhere to these rules:</p>
        <ul class="list">
            <li>At least 8 characters long</li>
            <li>Has at least one of the following:</li>
            <ul>
                <li>Uppercase letter</li>
                <li>Lowercase letter</li>
                <li>Symbol</li>
                <li>Number</li>
            </ul>
            <li>Cannot be a known english word</li>
            <li>No repeated characters more than twice</li>
        </ul>
        <div>
    </body>
</html>


